@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.banner {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
}

.slide {
    @apply absolute inset-0 opacity-0 transition-opacity duration-1000;
}

.slide.active {
    @apply opacity-100;
}
